<!DOCTYPE html>
{% load static %}
{% load cache %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="{% static 'scripts/jquery/jquery-1.7.1.js' %}"></script>
<link href="{% static 'style/authority/basic_layout.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'style/authority/common_style.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{% static 'scripts/authority/commonAll.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/fancybox/jquery.fancybox-1.3.4.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/fancybox/jquery.fancybox-1.3.4.pack.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'style/authority/jquery.fancybox-1.3.4.css' %}" media="screen"></link>
<script type="text/javascript" src="{% static 'scripts/artDialog/artDialog.js?skin=default' %}"></script>
<title>百智招聘</title>
<script type="text/javascript">
</script>
<style>
        .list active{
            color: red;
        }


</style>
</head>
<body>
	<form id="submitForm" name="submitForm" action="" method="post">
		<input type="hidden" name="allIDCheck" value="" id="allIDCheck"/>
		<input type="hidden" name="fangyuanEntity.fyXqName" value="" id="fyXqName"/>
		<div id="container">
			<div class="ui_content">
				<div class="ui_text_indent">
					<div id="box_border">
						<div id="box_top">搜索</div>
						<div id="box_center">
							<select name="fangyuanEntity.fyXqCode" id="fyXq" class="ui_select01" onchange="getFyDhListByyFyXqCode();">
                                <option value=""
                                >--请选择--</option>
                                <option value="城市">城市</option>
                                <option value="职位">职位</option>
                            </select>
                            <script src="{% static 'scripts/jquery/jquery-1.11.1.min.js' %}"></script>
		                    <script type="text/javascript">
                                $('#fyXq').click(function () {
                                    $('select').children[0].css('disabled','disabled');})
                            </script>
                            <input id="fyZldz"  value="" type="text" name="makeupCo"  class="makeinp" onfocus="setfocus(this)" oninput="setinput(this);" placeholder="请选择或输入"/>
{#                            <input id="fyZldz"  value="" type="text" name="makeupCo"  class="makeinp" placeholder="请选择或输入"/>#}
                            <script src="{% static 'scripts/jquery/jquery-1.11.1.min.js' %}"></script>
		                    <script type="text/javascript">

                            </script>
							<input type="button" value="查询" class="ui_input_btn01" id="search" />
						</div>
                        <script src="{% static 'scripts/jquery/jquery-1.11.1.min.js' %}"></script>
		                <script type="text/javascript">

                            $('#search').click(function () {
                                var value=$('#fyZldz').val();
                                var search_condition=['北京','上海','深圳','广州','AI','大数据','爬虫','pythonweb'];
                                var city=['北京','上海','深圳','广州'];
                                var position=['AI','大数据','爬虫','pythonweb'];
                                var city_num=$.inArray(value,city);
                                var position_num=$.inArray(value,position);
                                if(city_num >='0' ){
                                    location.href='/main/search/search_condition/?city='+value+'&'+'position='+'';
                                }
                                else if (position_num>='0'){
                                    location.href='/main/search/search_condition/?city='+''+'&'+'position='+value;
                                }
                            })
                        </script>
					</div>
				</div>
			</div>
			<div class="ui_content">
				<div class="ui_tb">
					<table class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
						<tr>
							
						
							<th>职位</th>
							<th>公司</th>
							<th>月薪</th>
							<th>任职要求</th>
							<th>经验要求</th>
							<th>学历要求</th>
							<th>公司地点</th>
						</tr>
{#                     {% cache 100 'cache_1'%}#}
                            {% for data in data_list.object_list %}
                                <tr>
                                    <td>{{ data.position1 }}</td>
                                    <td>{{ data.company }}</td>
                                    <td>{{ data.salary }} </td>
                                    <td> {{ data.company_nature }}  </td>
                                    <td>{{ data.exp_require }}</td>
                                    <td>{{ data.edu_require }}</td>
                                    <td>{{ data.company_address }}</td>
                                </tr>
                            {% endfor %}
{#                    {% endcache %}#}
					</table>
				</div>
				<div class="ui_tb_h30">
					<div class="ui_flt" style="height: 30px; line-height: 30px;">
						共有
						<span class="ui_txt_bold04">{{ data_list.paginator.num_pages }}</span>
						页记录，当前第
						<span class="ui_txt_bold04">{{ currentPage }}
						/
						{{ data_list.paginator.num_pages }}</span>
						页
					</div>
					<div class="ui_frt">
						<!--    如果是第一页，则只显示下一页、尾页 -->
                            <a href="/main/search/search_condition/?page=1">首页</a>
                            {% if data_list.has_previous %}
                                <a href="/main/search/search_condition/?page={{ data_list.previous_page_number }}&city={{ city }}&position={{ position }}">上一页</a>
                            {% else %}
                                <a href="#">上一页</a>
                            {% endif %}
                            {# 页码开始#}
{#                            {% for num in paginator.page_range %}#}
{#                                {% if num == currentPage %}#}
{#                                   <a href="/main/search/search_condition/?page={{ num }}&city={{ city }}&position={{ position }}" class="list active">{{ num }}</a>#}
{#                                {% else %}#}
{#                                    <a href="/main/search/search_condition/?page={{ num }}&city={{ city }}&position={{ position }}" class="list">{{ num }}</a>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
                            {#页码结束#}
                            {# 下一页按钮开始#}
                            {% if data_list.has_next %}
                               <a href="/main/search/search_condition/?page={{ data_list.next_page_number }}&city={{ city }}&position={{ position }}">下一页</a>
                            {% else %}
                                <a href="#">下一页</a>
                            {% endif %}
                            {# 下一页按钮结束#}
                            <a href="/main/search/search_condition/?page={{ data_list.paginator.num_pages }}&city={{ city }}&position={{ position }}">尾页</a>
							<!-- 如果是最后一页，则只显示首页、上一页 -->
                        <input type="button" value="转到" id="jump">第<input type="text" id="jumpNumTxt" class="ui_input_txt01" />页
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>
<script src="{% static 'scripts/jquery/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript">
   $('#jump').click(function () {
       value=$('#jumpNumTxt').val();
       console.log(value);
       location.href='/main/search/search_condition/?city={{ city }}&position={{ position }}&page='+value;
  })
</script>